.App-wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #352f44;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    padding-bottom: 1.5rem;
}

.App{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 90vw;
    min-height: 85vh;
    background-color: #2a2438;
    border-radius: 1rem;
    border: 1px solid #5c5470;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header-container{
    height: 9vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5vw;
    gap: 1rem;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #dbd8e3;
    background-color: #2a2438;
    border-radius: 10px;
    padding:  1vh 2vh;
    box-shadow: 0px 14px 28px 1px rgba(0,0,0,0.79);
}

a:hover{
    background-color: #5c5470;
}

.resume-file-input{
    display: none;
}

.resume-file-btn{
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: #dbd8e3;
    padding: 15vh 12vh;
    background-color: #352f44;
    align-self: center;
    font-size:  1.4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.resume-file-btn:hover{
    background-color: #5c5470;
    transition:  background-color 0.2s ease-in-out;
}

.resume-container{
    flex: 3;
    height: 99%;
    overflow-y: auto;
    background-color: #2a2438;
    border-right: solid 1px white;
    border-radius:  1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.analyzer-results-container{
    flex: 2;
    height: 100%;
    overflow-y: auto;
    background-color: #2a2438;
    border-radius:  0 1rem 1rem 0;
}