@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-2{
  box-shadow: 0px 14px 28px 1px rgba(0,0,0,0.79);
  @apply max-w-32 text-white cursor-pointer bg-[#6643b5] rounded-3xl p-2 hover:bg-[#d5def5] hover:text-[#6643b5]
}

html, body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
